body {
		margin:0;
}

/* Header Area */

.harea {
		background-color:#415E9B;
		padding:10px 0;
		font-family:tahoma;
	
}

.logo {
		width:30%;
		float:left;
	
}

.login {
		width:70%;
		overflow: hidden;
	
}


.login input{
		display:block;
		margin: 4px 0 2px;
		border:1px solid #1D2A5B;
		padding:2px;
		background-color:#FAFFBD;
	
}

.login input[type="checkbox"] {
		float:left;
		margin-left:0px;
	
}

.harea .username {
		float:left;
		margin-right:15px;
	
}

.harea .password {
		float:left;
		overflow:hidden;
		margin-right:15px;
		
}

.harea .submit{
		float:left;
		overflow:hidden;
	
}

.login label {
		color:#FFFFFF;
		font-size:12px;
		display:block;
		cursor:pointer;
	
}

.login a {
		color:#9CB4D8;
		font-size:12px;
		text-decoration: none;
	
}

.login .username label[for="check"] {
		overflow:hidden;
		margin-left:2px;
		margin-top:3px;
		display:inline-block;
		color:#9CB4D8;
	
}

.login a:hover{
		text-decoration:underline;
	
}

.submit input {
		background-color:#365899;
		cursor: pointer;
		margin-top: 18px;
		color:#FFFFFF;
		
}

.login form {
		float:right;
	
}

.harea .container {
		width:90%;
		margin:auto;
		
}


@media all and (max-width: 768px ){
		.harea .logo {
				float:none;
				margin-bottom: 20px;
				text-align:center;
				width:100%;
		}
		
		.harea .login {
				width:100%;
			
		}
		
		.harea .login form {
				float: none;
				width: 450px;
				margin:auto;
			
		}
}

/* SignupArea */

















@media all and (max-width: 474px) {
		.login form {
				width: auto;
			
		}
	
		.login .username{
				float:none;
			
		}
		
		.login .password{
				float:none;
			
		}
		
		.login input[type="text"],
		.login input[type="password"] {
				width: 100%;
			
		}
		
		
}




























